@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}

.bg{
    background-size: cover;
    background-position: center;
    background-color: black;
    transition: all ease-in-out 0.4s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(3px);
    transform: translate3d(0,0,0);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.actions {
   margin: 0 20px 20px;
}

button {
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 16px;
    background: rgba(26, 88, 150, 1);
    color: white;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    margin: 4px;
    outline: 0;
    animation: all ease-in-out 1s;
}

button:active{
    transform: scale(0.9);
}

.timer{
    margin: auto 0;
    display: flex;
}
.timeWrap{
    width: 150px;
    height: 150px;
    border: 2px yellow solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    position: relative;
}

h1 {
    font-size: 90px;
    color: white;
    text-shadow: 1px 1px 20px rgba(0,0,0,0.15);
}

h2{
    position: absolute;
    bottom: 0px;
    right: -29px;
    color: yellow;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h5{
    position: absolute;
    bottom: 2px;
    right: 6px;
    color: white;
    font-size: 7px;
    text-align: right;
}

h5 a{
    color: white;
}

@media (max-width:600px){
    .timeWrap{
        width: 116px;
        height: 116px;
    }

    h1{
        font-size: 78px;
    }

    h2{
        right: -17px;
        font-size: 12px;
        letter-spacing: 2px;
    }
}